.p-browseEvent .hero{
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 1;
    background-image: url(../img/test-img/cta-event-search-banner.avif);
    background-size: cover;
    background-attachment: fixed;
}
.p-eventDetail .hero{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    z-index: 1;
    background-image: url(../img/test-img/cta-event-search-banner.avif);
    background-size: cover;
    background-attachment: fixed;
}
.bg-brand-light-50{
   background-color: #ff169269;
}
.nonfound{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.65);
}
.hero h2{
    position: relative;
}
.fr-icon{
    width: 90px;
    height: 90px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 35px;
    background-color: #ff16925d;
}
section{
    margin-bottom: 120px;
}
.bg-brand-20{
    background-color: #ff16922b
}
.bg-brand{
    background-color: var(--c-brand);
}
.shadow-light{
    box-shadow: 0px 0px 8px 3px #00000013;
}
a.home-link{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
a.home-link:hover{
    color: var(--c-brand);
}
.w-15{
    width: 15%;
}
li:last-child{
    border-top: 1px solid #ccc;
}
body {
    position: relative;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide{
      height: auto!important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* .hero img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: brightness(0.2);
} */
.browse .filter{
    border-radius: 5px;
    border: 1px solid black;
}
.show-re{
    position: sticky;
    top: 90px;
}

.filter{
    position: sticky;
    top: 90px;
}
hr{
    margin: 0;
}
.search-result .card-list .card{
    width: 100%;
    border: 3px solid #40324710;
}
.search-result .card-list .card:hover{
    box-shadow: 0px 0px 8px #e1159340;
    border-color: white;

}
.card-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-result .card-list .card{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.search-result .card-list .card .card-title:hover{
    cursor: pointer;
}
.search-result .card-list .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-recruit-list .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.white-nowrap{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-result .card-list .status{
    width: 150px;
    padding: 7px 0;
    text-align: center;
    border-radius: 100px;
    margin-left: auto;
    margin-right: 20px;
    background-color: var(--c-brand);
    color: #fff;
}
.i-wish{
    margin: 5px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-brand);
    transition: 0.2s;
    cursor: pointer;
}
.i-wish:hover, .i-wish.clicked{
    background-color: var(--c-brand);
    color: #fff;
}
.add-wish.clicked{
    background-color: var(--c-brand);
    color: #fff;
}
.card-title a{
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}
.card-title a:hover{
    color: var(--c-brand);
}
.recmt-event .recmt-items .card img{
    height: 200px;
}
input[type='checkbox']:checked + .button {
    background-color: blue; /* Background turns blue when checked */
}
.w-20{
    width: 28px;
}
.border-brand{
    border-style: solid;
    border-color: var(--c-brand);
}
.border-brand-start{
    height: auto;
    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-color: var(--c-brand);
}

.outline-brand{
    border: 1px solid var(--c-brand);
}
.related-section .title p{
    width: 100%;
    /* height: 40px; */
    color: rgb(191, 189, 189);
    position: relative;
    display: flex ;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.related-section .title p::before,
.related-section .title p::after{
    content:"";
    width: 150px;
    /* width: 100%; */
    height: 1px;
    background-color: rgb(191, 189, 189);
    position: absolute;
    top: 50%;
    /* bottom: 0; */
    right: 52%;

}
.related-section .title p::after{
    left: 52%;
}
#ev-org-name:hover{
    color: var(--c-brand);
}
#pagination{
    display: flex;
    justify-content: center;
    gap: 6px;
}
#pagination button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
    background-color: #e1159322;
}

#pagination button.active {
    font-weight: bold;
    background-color: var(--c-brand);
    color: white;
}
#org-name{
    transition: 0.1s;
}
#org-name:hover{
    color: var(--c-brand);
}

.brief-detail li{
    border: 0 !important;
}