.line {
  width: 48%;
  height: 5px;
  background-color: var(--c-brand);
  border-radius: 10px;
}
.text-or {
  margin-top: -18px;
}

a {
  text-decoration: none;
}
.text-signup {
  color: #ff1694;
  font-weight: bold;
}
.Forgot-password {
  color: #ff1694;
}
.Forgot-password:hover {
  text-decoration: underline;
}
.text-signup:hover {
  text-decoration: underline;
}

.btn-facebook {
  color: #000;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.btn-google {
  color: #000;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.btn-facebook,
.btn-google,
.btn-signup {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-google:hover {
  border-color: #ff1694;
}
.btn-facebook:hover {
  border-color: #ff1694;
}
.image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.otp-inputs input {
  width: 45px;
  height: 45px;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #ff1694;
  border-radius: 8px;
  outline: none;
}
.social-icon{
  color: #ff1694;
}
 .btn-facebook:hover .social-icon{
  color:#fff;
}
.btn-google:hover .social-icon{
  color: #fff;
}
.card-glassbg{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.6);
}
.nav-link {
  text-align: left !important;
  justify-content: flex-start !important;
}
.tab-hover{
  color: #000;
  border-radius: 0 !important;
}
.tab-hover:hover .social-icon {
  color: #fff;
}
.tab-hover:hover{
  background-color: #ff1694;
  color: #fff;
  border: 0 !important;
}
.tab-hover.active{
  background-color: var(--c-brand) !important;
}
/* Page Setting */
.profile-setting {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5dbe0;
}
.overlay-camera-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.profile-setting:hover .overlay-camera-image {
  opacity: 1;
}
/* FAQ Section Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #ff1694;
}
.faq-icon {
  font-size: 22px;
  color: #ff1694;
}
.section-faq {
  background-color: #fff;
  padding-top:40px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}
.section-faq .heading {
  display: flex;
  gap: 20px;
}
.section-faq .heading h1 {
  font-weight: bold;
}
.section-faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-faq p{
  font-size: 16px;
  letter-spacing: 1px;
}
.section-faq .question .faq-icon {
  cursor: pointer;
}
.hidden {
  display: none;
}
.section-faq hr {
  border: 1px solid #a5a2a2;
}
.faq-star {
  font-size: 35px;
  color: #ff1694;
}
.para {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}
.para.expanded {
  max-height: 200px; 
  opacity: 1;
}
