@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

:root {
    --c-brand: #ff1694;
    --c-brand-light: #ff1692ac;
    --c-brand-dark: #e11594;
    --text-gray: #403247;
}

button {
    cursor: pointer;
}

.bg-brand-light-50 {
    background-color: #ffcbeb54 !important;
}

.bg-brand-light {
    background-color: var(--c-brand-light) !important;
}

.bg-brand {
    background-color: var(--c-brand) !important;
}

.fs-18 {
    font-size: 18px;
}

.text-brand {
    color: var(--c-brand) !important;
}

.text-brand-dark {
    color: var(--c-brand-dark) !important;
}

.text-brand-light {
    color: var(--c-brand-light) !important;
}

.btn-brand {
    background-color: var(--c-brand) !important;
    color: #fff !important;
    transition: .3s;
}

.btn-brand:hover {
    background-color: var(--c-brand-dark) !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.border-brand {
    border: 2px solid var(--c-brand) !important;
}

.form-control.is-valid,
.form-control.is-invalid {
    background-image: none !important;
    padding-right: 0.5rem !important;
}

.btn-outline-pink {
    padding: 15px 25px;
    outline: 2px solid var(--c-brand);
    border-radius: 5px;
    cursor: pointer;
    border: 2px !important;
    /* transition: 0.3s; */
}

.btn-outline-pink:hover {
    background-color: var(--c-brand);
    color: white;
}

.btn-outline-pink:hover p {
    color: #fff !important;
}

.btn-outline-pink:hover i {
    color: #fff !important;
}

.btn-outline-pink:hover label {
    color: #fff !important;
}

.btn-outline-brand {
    border: 1px solid var(--c-brand);
    color: var(--c-brand);
    transition: 0.3s;
}

.btn-outline-brand:hover {
    background-color: var(--c-brand) !important;
    color: #fff !important;
}

.form-check-input:checked {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    box-shadow: #e11594;
}

.form-check-input:focus {
    border-color: var(--c-brand);
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff169225;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--c-brand);
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff169225;
}

/* homepage header*/
header {
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    transition: 0.4s;
    z-index: 999;
    background-color: white;
}

header #userEmail {
    font-size: 15px;
}

/* STICKY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    /* padding: 8px 0; */
    backdrop-filter: blur(10px);
    animation: slideDown 0.7s ease-out;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.userImgPf-wrapper {
    width: 100%;
    height: 100%;


    margin-right: 5px;
}

.userImgPf-wrapper img {
    outline: 2px solid #ff1694 !important;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #64636367;
    z-index: 3;
    top: 0;
    display: none;
}

.logo img {
    width: 200px;
}

header .fa-magnifying-glass {
    left: 15px;
    z-index: 1;
}

header .search-bar {
    outline: 1px solid var(--c-brand);
}

header .btn-outline-pink {
    padding: 7px 15px;
    outline: 2px solid var(--c-brand);
    background-color: #ff16925a;
    background: transparent;
    border: 0 !important;
}

header .btn-pink {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 6px;
    position: absolute;
    right: 1px;
    top: 1px;
    border: 0 !important;
}


header .btn-pink .fa-magnifying-glass {
    color: white !important;
    padding: 0 !important;
}

header .dropdown-menu.show {
    top: 10% !important;
    overflow: hidden;
}

header .dropdown-menu.show .dropdown-item {
    padding: 8px 15px !important;
}


header .dropdown-menu-end {
    padding-block: 0 !important;
}

/* Lim code */

.btn-pink {
    padding: 15px 25px;
    /* outline: 2px solid var(--c-brand); */
    background-color: var(--c-brand);
    color: white;
    border-radius: 5px;
    /* cursor: pointer; */
    /* transition: 0.3s; */
}

.btn-pink:hover {
    background-color: var(--c-brand-dark);
    color: white;
}

.btn-pink:hover p {
    color: #fff !important;
}

.btn-pink:hover i {
    color: #fff !important;
}

.btn-pink:hover label {
    color: #fff !important;
}

.search-dropdown {
    width: 100%;
    list-style: none;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px #d3d3d3;
    padding: 20px 0;
    top: 130%;
    z-index: 3;
    display: none;
}

.search-dropdown .search-dropdown-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.search-dropdown .search-dropdown-item:hover {
    background-color: #e1159313;
}

.nav-underline .nav-item .nav-link.active {
    color: var(--c-brand) !important;
}

.nav-underline .nav-item .nav-link:not(.active) {
    color: inherit !important;
}

.nav-underline .nav-item .nav-link:not(.active):hover {
    color: var(--c-brand) !important;
}

.ticket-order .table td,
.ticket-order .table td {
    padding-block: 1rem !important;
}

.sub-form-wrapper {
    outline: 2px solid #4032475e !important;
}

.sub-form-wrapper .form-display {
    cursor: pointer;
}

.sub-form-wrapper .icon-img {
    width: 3%;
}

.sub-form-wrapper:hover {
    outline: 2px solid var(--c-brand) !important;
}

.sub-form-wrapper.active {
    outline: 2px solid var(--c-brand) !important;
}

.sub-form-wrapper .form-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-form-wrapper .main-form {
    display: none;
}

.sub-form-wrapper .main-form.active {
    display: block !important;
}

.sub-form-wrapper .form-display.active {
    display: none !important;
}

.sub-form-wrapper h5,
.sub-form-wrapper p,
.sub-form-wrapper h1 {
    color: var(--text-gray);
}

.sub-form-wrapper h1 {
    font-size: 25px !important;
}

.tip-icon {
    width: 30px;
    padding-right: 5px;
}

.btn-outline-pink {
    padding: 15px 25px;
    outline: 2px solid var(--c-brand) !important;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
}

.btn-outline-pink:hover {
    background-color: var(--c-brand);
    color: white;
}

.btn-outline-pink:hover p {
    color: #fff !important;
}

.btn-outline-pink:hover i {
    color: #fff !important;
}

.btn-outline-pink:hover label {
    color: #fff !important;
}

.btn-pink {
    padding: 15px 25px;
    /* outline: 2px solid var(--c-brand); */
    background-color: var(--c-brand);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* transition: 0.3s; */
}

.btn-pink:hover {
    background-color: var(--c-brand-dark);
    color: white;
}

.btn-pink:hover p {
    color: #fff !important;
}

.btn-pink:hover i {
    color: #fff !important;
}

.btn-pink:hover label {
    color: #fff !important;
}

.upload-img-form .upload-section {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--c-brand-light);
}

.img-format ul li {
    font-size: 14px;
}

#btnRemoveImgFile,
#btnRemoveImg {
    background: none;
    display: none;
}

#imageDisplay,
#photoDisplay {
    width: 300px;
    display: none;
}

.customized-form {
    color: var(--c-brand);
}

.customized-form:hover {
    border: 2px solid var(--c-brand);
}

.customized-form:focus {
    color: var(--c-brand);
    border: none !important;
    border-radius: 6px !important;
    outline: 2px solid var(--c-brand) !important;
    box-shadow: 0 0 0 0.1rem var(--c-brand) !important;
}

.step-side {
    width: 15%;
    padding: 15px;
}

.create-info {
    width: 85%;
    border-left: 1px solid lightgray;
}

#uploadChoiceModal {
    background-color: #e1159310 !important;
}

.upload-private,
.upload-public {
    outline: 2px solid var(--c-brand) !important;
    width: 49%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.upload-private:hover {
    background-color: var(--c-brand);
    ;
    color: white;
}

.upload-public:hover {
    background-color: var(--c-brand);
    color: white;
}

.hero-banner .carousel-inner {
    /* background-image: url('../img/party/party1.png'); */
    background-position: center;
    background-size: cover;

}

.hero-banner .carousel-inner .carousel-item {
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.819), #e11593c4, #bb94e3d5, #ff1692d0), url('../img/party/party1.png');
}

.hero-banner .carousel-inner .carousel-item:nth-child(2) {
    height: 100%;
    background: linear-gradient(to right, #00000022, #6c6a6a68), url('../img/party/wedding-planner-working-ceremony.jpg');
}

.btn-darkpink {
    padding: 15px 25px;
    /* outline: 2px solid var(--c-brand); */
    outline: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: var(--c-brand);
    background-color: #fff;
    /* color: var(--text-gray); */
    color: var(--c-brand-dark);
    overflow: hidden;
    z-index: 1;
}

.btn-darkpink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c-brand-dark);
    z-index: -1;
    top: 0;
    right: 100%;
    transition: 0.2s;

}

.btn-darkpink:hover.btn-darkpink::after {
    right: 0;
}

.btn-darkpink:hover {
    color: #fff !important;
    color: #fff !important;
}

.btn-darkpink:hover i {
    color: #fff !important;
}

.btn-darkpink:hover label {
    color: #fff !important;
}

.hero-banner .carousel-inner {
    height: 470px;
}

.hero-banner .hero-img img:nth-child(1) {
    width: 50%;
    border: 8px solid white;
    transform: rotate(-15deg) translate(30px, -10px);
}

.hero-banner .hero-img img:nth-child(2) {
    width: 50%;
    border: 8px solid white;
    transform: rotate(-15deg) translate(30px, -10px);
}

hr {
    height: 1px;
    border: 1px solid #40324752;
}

.card-wrapper .nav-link {
    padding: 15px 30px;
}

.event-card-wrapper .card {
    width: 100%;
    border-radius: 0 0 10px 10px;
    transform: 0.3s;
    border: none;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.075); */
    /* box-shadow:0 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
}

.event-card-wrapper .card {
    width: calc(100% / 4 - 20px);
    border: none !important;
    margin: 0px 20px 50px 0;
    background-color: transparent !important;
}

.event-card-wrapper .card .card-body {
    /* box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.075); */

    padding: 20px 14px 10px !important;
    cursor: pointer;

}

.event-card-wrapper .card .card-body .card-title {
    /* font-size: 1.25rem; */
    font-weight: bold;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card-wrapper .card .text-loca {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card-wrapper .card:hover {
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 8px #e115936c !important;
}

.event-card-wrapper .card .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.event-card-wrapper .card-footer {
    border-color: rgba(0, 0, 0, 0.075);
    /* box-shadow: var(--bs-box-shadow-sm) !important; */
    background-color: #ffffff !important;
    padding: 0.75rem 0.9rem;
    font-size: 0.9rem;
}

.btn-rounded {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* transition: 1s; */
}

.btn-rounded:hover {
    background-color: var(--c-brand);
    color: white;
}

.event-card-wrapper .card .btn-rounded {
    position: absolute;
}

.event-card-wrapper .card .btn-rounded:nth-child(1) {
    top: -30%;
    right: -30%;
}

.event-card-wrapper .card .btn-rounded:nth-child(2) {
    top: -30%;
    right: -30%;
}

.event-card-wrapper .card:hover .btn-rounded:nth-child(1) {
    top: 3%;
    right: 3%;
}

.event-card-wrapper .card:hover .btn-rounded:nth-child(2) {
    right: 3%;
    top: 15%;
}

.event-card-wrapper .card .pf-img {
    border-radius: 100%;
    border: 1px solid #4032475e;
}

.event-card-wrapper p {
    margin-bottom: 5px !important;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-gray);
}

.event-card-wrapper .date-tag {
    position: absolute;
    background-color: #ff1694;
    z-index: 0;
    top: 32%;
    right: 5%;
}

.event-card-wrapper .date-tag h6 {
    font-weight: bold;
    margin: 0 !important;
    color: white;
}

footer {
    /* background: url('/assets/img/bg-img/footer_bg_1.png'); */
    /* background-size: cover; */
    background-color: var(--text-gray);
    color: white;
}

footer .logo {
    height: 100px;
}

footer .quick-link a {
    padding-bottom: 15px;
}

footer .quick-link a:hover {
    color: var(--c-brand-dark);
}

footer .contact-info .social-media a {
    font-size: 50px;
    padding-right: 10px;
}

footer .contact-info .social-media a:hover {
    color: #e11594;
}

.pill1 {
    background-color: #e1159322;
    padding: 4px 7px !important;
    font-size: 14px;
    border-radius: 4px;
}

.pill2 {
    background-color: #158ce122;
    padding: 4px 7px !important;
    font-size: 14px;
    border-radius: 4px;
}

.pill3 {
    background-color: #15e17e22;
    padding: 4px 7px !important;
    font-size: 14px;
    border-radius: 4px;
}

.pill4 {
    background-color: #9de11522;
    padding: 4px 7px !important;
    font-size: 14px;
    border-radius: 4px;
}

.pill5 {
    background-color: #e1341522;
    padding: 4px 7px !important;
    font-size: 14px;
    border-radius: 4px;
}

.recruit-card-wrapper {
    margin-left: -10px;
}

.recruit-card-wrapper .card {
    width: calc(100%);
    border: none !important;
    margin: 0px 20px 15px 0;
    background-color: transparent !important;
}

.recruit-card-wrapper .card .card-body {
    padding: 20px 10px !important;

}

.card .card-body .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 !important;
    margin: 15px 0 !important;
} */
.recruit-card-wrapper .card-recruit-list .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recruit-card-wrapper .card .card-content {
    width: 100%;
    border-radius: 10px;
    transform: 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #40324710;
    background-color: #fff;
}

.recruit-card-wrapper .card .card-content:hover {
    border-radius: 10px;
    /* outline: 2px solid var(--c-brand) !important; */
    box-shadow: 0px 0px 9px #e115934a;

    border-color: white;
}

.recruit-card-wrapper .card .card-img-top {
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.btn-rounded {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.btn-rounded:hover {
    background-color: var(--c-brand);
    color: white;
}

.recruit-card-wrapper .card .btn-rounded {
    position: absolute;
}

/* 
.recruit-card-wrapper .card .btn-rounded:nth-child(1) {
    top: -30%;
    right: -30%;
}

.recruit-card-wrapper .card .btn-rounded:nth-child(2) {
    top: -30%;
    right: -30%;
}

.recruit-card-wrapper .card .card-content:hover .btn-rounded:nth-child(1) {
    top: 3%;
    right: 3%;
}

.recruit-card-wrapper .card .card-content:hover .btn-rounded:nth-child(2) {
    right: 3%;
    top: 30%;
} */

.recruit-card-wrapper .card .card-content .pf-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #4032475e;
}

.recruit-card-wrapper .card .card-content .pf-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.recruit-card-wrapper p {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-gray);
}

.recruit-card-wrapper .card .card-content .profile p {
    margin: 0 !important;
}

.recruit-card-wrapper .card-content .duration span {
    font-size: 12px;
}

.btn-see-more-wrapper .btn-outline-pink {
    display: none;
}

.btn-see-more-wrapper .spinner-border {
    display: none;
}

/* Vendor Card Style */
.vendor-card-wrapper {
    margin-left: -10px;
}

.vendor-card-wrapper .card {
    /* width: calc(100% / 2 - 20px); */
    width: 100%;
    /* border: none !important; */
    margin-bottom: 20px;
    background: transparent !important;
}

.vendor-card-wrapper .card {
    width: 100%;
    border-radius: 10px;
    transform: 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #40324710;
    overflow: hidden;
    background-color: #fff;

}

.vendor-card-wrapper .card .card-body {
    padding: 0 !important;
}

.vendor-card-wrapper .card .card-desc1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vendor-card-wrapper .card:hover {
    border-radius: 10px;
    /* outline: 2px solid var(--c-brand) !important; */
    box-shadow: 0px 0px 9px #e115934a !important;
    border-color: white;
}

.vendor-card-wrapper .card .thumbnail {
    height: 280px;
}

.vendor-card-wrapper .card .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vendor-card-wrapper .card .detail {
    padding: 20px;
}

.vendor-card-wrapper .card .card-img-top {
    /* height: 180px; */
    object-fit: cover;
    object-position: center;
}

.vendor-card-wrapper .card .pf-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #4032475e;
}

.vendor-card-wrapper .card .pf-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.vendor-card-wrapper p {
    margin-bottom: 5px !important;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-gray);
}

.vendor-card-wrapper .card .profile p {
    margin: 0 !important;
}

.vendor-card-wrapper .duration span {
    font-size: 14px;
}

/* quillJS */
.main-form #editor,
.main-form #agendaEditor,
.main-form #vendorTypeEditor,
.main-form #requirementEditor {
    height: 200px;
    background-color: #fff;
    border: 2px solid #ff1694;
    border-radius: 0 0 10px 10px;
}

.main-form .ql-toolbar.ql-snow {
    border: 2px solid #ff1694 !important;
    border-bottom: none !important;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    border-radius: 10px 10px 0 0;
}




/* agenda card */
/* Use nth-child to style each card with different colors */
.agenda-card {
    border-radius: 7px !important;
    background-color: #ff16920f;
}

.card-desc1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .agenda-card:nth-child(2) {
    background: linear-gradient(to top left, #FFD6A5, #fff);
}

.agenda-card:nth-child(3) {
    background: linear-gradient(to top left, #FDFFB6, #fff);
}

.agenda-card:nth-child(4) {
    background: linear-gradient(to top left, #FDFFB6, #fff);
}

.agenda-card:nth-child(5) {
    background: linear-gradient(to top left, #9BF6FF, #fff);
}

.agenda-card:nth-child(6) {
    background: linear-gradient(to top left, #A0C4FF, #fff);
}

.agenda-card:nth-child(7) {
    background: linear-gradient(to top left, #BDB2FF, #fff);
}

.agenda-card:nth-child(8) {
    background: linear-gradient(to top left, #FFC6FF, #fff);
}

.agenda-card:nth-child(9) {
    background: linear-gradient(to top left, #fafe13c4, #fff);
}

.agenda-card:nth-child(10) {
    background: linear-gradient(to top left, #ff00a69a, #fff);
}

.agenda-card:nth-child(11) {
    background: linear-gradient(to top left, #FFD6A5, #fff);

}

.agenda-card:nth-child(12) {
    background: linear-gradient(to top left, #FDFFB6, #fff);
}

.agenda-card:nth-child(13) {
    background: linear-gradient(to top left, #FDFFB6, #fff);
}

.agenda-card:nth-child(14) {
    background: linear-gradient(to top left, #9BF6FF, #fff);
}

.agenda-card:nth-child(15) {
    background: linear-gradient(to top left, #A0C4FF, #fff);
}

.agenda-card:nth-child(16) {
    background: linear-gradient(to top left, #BDB2FF, #fff);
}

.agenda-card:nth-child(17) {
    background: linear-gradient(to top left, #FFC6FF, #fff);

}

.agenda-card:nth-child(18) {
    background: linear-gradient(to top left, #fafe13c4, #fff);
} */

.agenda-card .agenda-content {
    padding-left: 25px;
    border-left: 4px solid #ff1694;
    border-radius: 4px;
}

.agenda-card .agenda-content #agenda-desc,
.agenda-card .agenda-content #agenda-time {
    margin-bottom: 0px !important;
}

.recruitmentCard {
    transition: 0.3s;
    cursor: pointer;
}

.recruitmentCard:hover {
    box-shadow: 0px 0px 8px #e1159340;
    /* border-color: transparent; */
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}

.recruit-card-wrapper .card .recruit-requiremnt-wrapper,
.recruit-card-wrapper .card .vendor-type-need-wrapper,
.recruit-card-wrapper .card .title {
    display: none !important;
}

.add-wish:hover,
.add-wish.clicked {
    background-color: var(--c-brand);
    color: #fff;
}

.post-choice {
    background-color: #ff16920c;
    cursor: pointer;
}

.post-choice:hover {
    /* border: 0 !important; */
    outline: 2px solid #ff1694 !important;
}

.post-choice .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 15px;
}

.post-choice .post-choice-detail {
    font-size: 14px;
}

.modal {
    background-color: #5a324b60 !important;
}

.form-select {

    border-color: #ccc !important;
}

.form-select:focus {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.recruitmentCard .title {
    display: none !important;
}

/* service_area */
.service_area .service_area_wrapper {
    padding: 30px 150px;
}

.service_area .service_area_wrapper .service_feature_detail {
    width: 80%;
    word-wrap: break-word;
}

.service_area .service_area_wrapper .service_feature_detail h4 {
    color: var(--c-brand);
}

.service_area .service_area_wrapper .service_feature_detail p {
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 14px;
}


.add-wish:disabled:hover {
    opacity: 0.8 !important;
    cursor: wait !important;
}

.card-descc-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}

.card-descc-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.dropdown ul li a:hover {
    background-color: var(--c-brand) !important;
    color: #fff !important;
}

.dropdown-menu li a:hover {
    background-color: var(--c-brand) !important;
    color: #fff !important;
}

.dropstart ul li a:hover {
    background-color: var(--c-brand) !important;
    color: #fff !important;
}

.about-blog {
    background-color: #FCEBF3;
    position: relative;
    padding: 70px 0;
}

.about-blog .img-wrapper img:nth-child(1) {
    width: 70%;
}

.about-blog .img-wrapper img:nth-child(2) {
    width: 280px;
    position: absolute;
    border: 15px solid #FCEBF3;
    bottom: 10%;
    right: 52%;
}

.about-blog hr {
    width: 82%;
    height: 5px;
    background-color: #ff1694;
}

/* page loader */
/* Fullscreen overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: opacity .8s ease;
}

/* Logo in the center */
.loader-logo {
    width: 350px;
    /* Adjust size */
    animation: scale-fade .8s ease-in-out forwards;
}

/* Scale and fade animation */
@keyframes scale-fade {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

/* Hide overlay when done */
.loader-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s ease;
}